.body {
  background-color: #2C3247;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.container {
  max-width: 1575px;
  padding: 0 75px;
  margin: 0 auto;
}
.block {
  margin-bottom: 40px;
}
.block-header {
  color: #e6e6e6;
  text-transform: uppercase;

  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 24px;
  font-size: 32px;
  

  text-align: left;
}

.block-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
}

.block-item {
  padding: 30px 20px;
  border-radius: 15px;
  font-size: 16px;
  width: calc(33.333% - 20px);
  text-align: center;

  color: #fff;
  background-color: #28264e;
}
.block-item h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.block-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.block-item-image {
  width: 100%; /* Ensure the image takes up full width */
  height: auto;
  margin-bottom: 20px; /* Adjusted spacing below the image */
  border-radius: 10px;
}

.block-item-text {
  margin-top: 10px; /* Reduced spacing for a more compact look */
  line-height: 1.5;
}

.block-text {
  color: #fff;
}
.block-table {
  width: 100%;
  max-width: 100%;
  

  height: 275px;
  border-radius: 15px;
  background: #28264e;

  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  color: #fff;
  font-size: 18px;
}
.block-table-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block-table-cell1 p,
.block-table-cell2 p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  
}
.block-table-cell1 p:before,
.block-table-cell2 p:before {
  content: '•'; /* Added bullet points */
  margin-right: 10px;
  color: #e6e6e6; /* Adjusted bullet color for better contrast */
}
.about-us-header {
  color: #fff299;
  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 2rem;
  text-transform: uppercase;
}
.about-us-text {
  color: #fff299;
  font-size: 24px;
}
