.body {
  background-color: #3d435d;
}
.block{
    margin-bottom: 24px;
}
.block-header {
  color: #fff;

  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 1.5rem;
}

.block-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
}

.block-item {
  font-size: 1.5rem;
  width: calc(33.333% - 20px);
  text-align: center;

  color: #fff;
  background-color: #28264e;
}

.block-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.block-item-image {
  margin-bottom: 10px;
}

.block-item-text {
  margin-top: 20px;
}
.block-text{
  color: #fff;
}
.block-table-text{
  color: #fff;

}