.about {
  background-color: #2c3247;
  padding: 40px 20px 0px 20px; /* Increased padding for a more spacious feel */
  min-height: 100hv;
}

.container {
  max-width: 1575px;
  margin: 0 auto;
}

.about-header {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; /* Increased spacing for visual separation */
  padding-top: 70px;
  font-size: 36px; /* Slightly larger font for prominence */
  letter-spacing: 1.5px; /* Added letter-spacing for a premium look */
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-blocks {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive two-column layout */
  grid-gap: 40px;
  padding: 0;
  list-style: none;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 260px;
}

.about-blocks li {
  border: 1px solid #fff299;

  background-color: #3b4053; /* Light background to contrast dark page */
  padding: 20px;
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a modern feel */
  transition: transform 0.3s ease;
}

.about-blocks li:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.about-blocks a {
  text-decoration: none;
  color: #fff; /* Darker color for text to contrast light block */
  font-size: 24px;
  line-height: 1.6;
}

.about-blocks p {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-blocks {
    grid-template-columns: 1fr; /* Stack blocks on small screens */
  }
}
