.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #2c3247;
  padding: 75px 20px 0px 20px;
}
.container {
  max-width: 1575px;
  margin: 0 auto;
}

.portfolio-header {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}
.portfolio-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 20px; /* Adds spacing between the blocks */
  margin-bottom: 40px;
}
