.body {
  background-color: #2c3247;
  width: 100%;
}
.container {
  max-width: 1575px;
  padding: 0 75px;
  margin: 0 auto;
}
.block {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block-header {
  color: #e6e6e6;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 24px;
  font-size: 32px;
}

.block-row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.block-table {
  width: 80%; /* Reduce width from 100% to center it better */
  height: 275px;
  border-radius: 16px;
  background: transparent;
  border: 1px solid #fff299;
  display: flex;
  justify-content: space-between; /* This can be changed to 'center' if needed */
  gap: 20px;
  padding: 20px 50px;
  color: #fff;
  font-size: 18px;
  margin: 0 auto; /* Center the block-table on the page */
}
.block-table-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-us-text {
  color: #fff;
  font-size: 24px;
}
.main-page {
  padding: 45px 20px 0px 20px;
  background-color: #2c3247;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsImg {
  width: 100%;
  height: auto;
  border: 1px solid #fff299;
  border-radius: 16px;
  margin: 0 auto; /* Ensure image is centered */
}
